.box{
    background-color: lightgreen;
    height:200px;
    width:300px;
}
.responsive-box{
    background-color: lightgrey;
    width: 50%;
    height: 50%;
}
.padded-text{
    background-color: lightpink;
    padding: 20px 20px 20px 20px;
}
.custom-padding{
    background-color: lightgoldenrodyellow;
    padding: 10px 20px 10px 20px;
}
.border-box{
    background-color: lightskyblue;
    border: solid 2px black;
}
.rounded-border{
    background-color: lightslategray;
    border: red 3px dotted;
    border-radius: 15px;
}
.margin-text{
    background-color: lightcyan;
    margin: 30px 30px 30px 30px;
}
.custom-margin{
   background-color: lightblue; 
    margin: 20px 40px 20px 40px;
}
.inline-element{
    background-color: lightpink;
    display:inline
}
.block-element{
    background-color: lightgreen;
    display:block
}
.inline-block-element{
    background-color: lightsalmon;
    display:inline-block
}